[Unit]
Description=Freetopify Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/freetopify
ExecStart=/opt/freetopify/scripts/run_server_linux.sh
Restart=on-failure
RestartSec=5
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
